<!-- Template email -->
<h1>Obrigado por participar da <%= site.name %>!</h1>

<p>
  Oi <%= user.displayName %>,<br>
  Para validar seu email <a text="Confirm link" href="<%= confirmUrl %>">clique aqui</a> ou copie e cole o link abaixo no seu navegador para confirmar seu endereço de e-mail e faça o login na <%= site.name %>

  <%= confirmUrl %>
</p>

Obrigado,<br>
<%= site.name %><br>
<%= site.url %>