{{#if isVisible}}
<li class="main_menu-dropdown logged-on dropdown">
  <button class="btn btn-default dropdown-toggle user-menu-link" data-toggle="dropdown">
    <span class="avatar-small" {{bind-attr class=status}}>{{we-avatar userId=currentUser.id}}</span>
    <span class="user-name " >{{currentUser.username}}</span><b class="caret"></b>
  </button>

  <ul id="dropdown-login-menu" class="dropdown-menu dropdown-menu-right dropdown-menu-user arrow_box" role="menu">
    <li>
      <a href="#ChangeAvatarModal" {{action "showAvatarChangeModal"}}>
        Mudar imagem de perfil
      </a>
    </li>
    <li class="divider"></li>

    <li>
    <a href="https://cursos.atencaobasica.org.br/user/">Ver / editar perfil</a>
    </li>
    
    {{#if adminMenu}}
    <li class="divider"></li>
    <li>
        <a href="/admin">Administrar</a>
    </li>
    {{/if}}    

 {{!--    <li>
      {{#link-to 'user' currentUser.id}}
      {{t "View / edit profile"}}
      {{/link-to}}
    </li> --}}
{{!--     <li class="divider"></li>
    <li>
      {{#link-to 'authChangePassword'}}
      {{t "Change password"}}
      {{/link-to}}
    </li> --}}
    <li class="divider"></li>
    <div class="container-button-signin">
      <a href="/auth/logout" class="btn btn-sm btn-danger">Exit</a>
    </div>
  </ul>
</li>
{{/if}}
