<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="http://atencaobasica.org.br">
          <%- __('navbar.link.return.network') %>
        </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if(!req.isAuthenticated || !req.isAuthenticated()){ %>
          <li>
            <a href="/signup"><%- __('navbar.link.register') %></a>
          </li>
          <li>
            <a href="/login"><%- __('navbar.link.login') %></a>
          </li>
          <li>
            <a href="/auth/forgot-password"><%- __('navbar.link.forgot-password') %></a>
          </li>
          <% } else { %>
          <li>
            <a href="/account"><%- __('navbar.link.user.account') %></a>
          </li>
          <li>
            <a href="/auth/logout"><%- __('navbar.link.user.logout') %></a>
          </li>
        <% } %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
