<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.appName %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" href="/favicon.ico">

    <%- sails.services.theme.getlinkCssTags() %>

    <%- sails.services.theme.getJsScriptTag() %>

    <script src="/core/js/app.js"></script>
    <script src="/core/js/jquery.checkAvailability.js"></script>
  </head>

  <body>
    <%- include ../partials/navbar.ejs %>

    <div class="container">
      <%- include ../partials/flash-messages.ejs %>
      <%- body %>
    </div>
  </body>
</html>
