Oi <%= user.username %>,

<p>Você foi convidado(a) para fazer parte da comunidade <strong><%= group.name %></strong>. Para aceitar o convite, acesse o link abaixo:</p>

<p>
Clique no link abaixo para aceitar o convite:
<br>
<a href="<%= inviteUrl %>" ><%= inviteUrl %></a> 
</p>

<p>Se não deseja fazer parte desta comunidade, desconsidere este e-mail.</p>

<br>

<%= site.name %>
<a href="<%= site.url %>" ><%= site.url %></a> 
