
<form id="form-login" class="form-horizontal" role="form" name="loginForm" method="post" {{action "login" on="submit"}}>
  {{we-sys-messages messages=messages}}

  <div class="form-group">
    <div class="input-group">
      {{input name="email" value=controller.email  type="email" placeholder=controller.emailPlaceholder classNames="form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      {{input value=controller.password type="password" placeholder=controller.passwordPlaceholder classNames="form-control"}}
    </div>
  </div>
  <div class="form-group">
{{!--     <div class="checkbox">
      <label>
        <input type="checkbox"> Lembrar-me
      </label>
      <a {{action goToForgotPaswordPage}} class="link" href="/auth/forgot-password">
        {{t 'login.block.form.recovery.password'}}
      </a>
    </div> --}}
    <div class="container-button-signin">
    {{!-- <div class="login-btn"> --}}
      <button {{action login}} id="loginButton" class="btn btn-sm btn-primary" type="submit">
        {{t 'login.block.button.text'}}
      </button>
    </div>

{{!--     <div class="container-button-signin">
      <a {{action goToRegisterPage}} href="/auth/register" data-toggle="dropdown" class="btn btn-sm btn-success">
        {{t 'login.block.form.new.account.link'}}
      </a>
    </div> --}}
  </div>
</form>
