Oi <%= email %>,

<p>Você foi convidado para ser adicionado como <strong><%= modalidade %></strong> no relato <%= relato.titulo %>. Para aceitar o convite, acesse o link abaixo e cadastra-se na Comunidade de Práticas:</p>

<a href="<%= invitePending %>" ><%= invitePending %></a> 

<p>Após o cadastro o seu convite será automaticamente processado.</p>

<br>

<%= site.name %>
<a href="<%= site.url %>" ><%= site.url %></a> 