Oi <%= email %>,

Você foi convidado para ser adicionado como <strong><%= modalidade %></strong> no relato <%= relato.titulo %>. Para aceitar o convite, acesse o link abaixo e cadastra-se na Comunidade de Práticas:</p>

<%= invitePending %> 

Após o cadastro o seu convite será automaticamente processado.

<%= site.name %>
<%= site.url %>