Oi <%= user.name %>,

<p>Você pediu uma <strong>redefinição de senha</strong> para sua conta na <%= site.name %>? Se sim, siga o link abaixo para definir uma nova senha:</p>

<p>
  Clique no link abaixo para redefinir sua senha:
  <br>
  <%= resetPasswordUrl %>
</p>

<p>Se você não deseja redefinir sua senha, desconsidere este e-mail e nenhuma ação será tomada.</p>

<br>

<%= site.name %>
<%= site.url %>
