<footer id="footer-main">
  <div class="container">
    <div class="row">

      <div id="footer-main--blog" class="col-xs-12 col-sm-6 col-md-4">
        <h4 class="title-footer">
          {{partial 'partials/logo-cdp'}}
        </h4>
        <div class="small-footer">
          <p>Espaço virtual de construção de conhecimento e aprendizado a partir das experiências de cada profissional da Atenção Básica.</p>
        </div>
        <a class="btn btn-xs btn-default" href="https://cursos.atencaobasica.org.br/node/399">Saiba mais</a>
      </div>

      <div id="footer-main--facebook" class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4  col-md-offset-0">
        <div class="fb-like-box-lg">
          {{facebook-block}}
        </div>
      </div>

      <div id="footer-main--links" class="col-xs-12 col-sm-12 col-md-4">
        <h4 class="links-section--title title-footer">Links</h4>
        <ul class="links-section--list">

          <li class="links-section--list-item style-help_center">
            <a class="links-section--subtitle" href="http://ajuda.atencaobasica.org.br">
              <img src="/theme/assets/img/img-icon-ajuda.png">
              <div class="icon-title">Central de Ajuda</div>
            </a>
            <!--<p class="links-section--description"></p>-->
          </li>

          <li class="links-section--list-item style-blog">
            <a class="links-section--subtitle" href="http://blog.atencaobasica.org.br">
              <img src="https://blog.atencaobasica.org.br/wp-content/uploads/2014/12/logo-blog.png">
              <div class="icon-title">Blog</div>
            </a>
            <!--<p class="links-section--description"></p>-->
          </li>

          <li class="links-section--list-item style-terms">
            <a href="https://ajuda.atencaobasica.org.br/central-cdp/termo-de-uso/" class="links-section--subtitle">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x fa-4x pull-left icon-circle-group"></i>
                <i class="icons-outline icons-outline-paper-lines  cdp-stack-1x cdp-inverse"></i>
              </span>
              <span class="icon-title">Termos de Uso</span>
            </a>
            <!--<p class="links-section--description"></p>-->
          </li>
        </ul>
      </div>
    </div>
    <div class="row">

      <div id="footer-main--sponsor" class="col-xs-12 col-sm-7">
        <h4 class="sponsor-title">{{t 'sponsor.title'}}</h4>
        <ul class="sponsor-list pull-left">
          <li class="sponsor-list--item item-01">
            <a href="http://dab.saude.gov.br/portaldab/smp_o_que_e.php"target="_blank">
              <img class="sponsor-list--item-img item-01" src="/theme/assets/img/saude-perto-de-voce.png">
            </a>
          </li>
          <li class="sponsor-list--item item-02">
            <a href="http://portalsaude.saude.gov.br/index.php/cidadao/entenda-o-sus"target="_blank">
              <img class="sponsor-list--item-img item-02" src="/theme/assets/img/sus.png">
            </a>
          </li>
          <li class="sponsor-list--item item-03">
            <a href="http://portalsaude.saude.gov.br/"target="_blank">
              <img class="sponsor-list--item-img item-03" src="/theme/assets/img/ministerio-da-saude.png">
            </a>
          </li>
        </ul>
      </div>

      <div id="footer-main--partner" class="col-xs-12 col-sm-5">
        <h4 class="partner-title">{{t 'partner.title'}}</h4>
        <ul class="partner-list">
          <li class="partner-list--item">
            <img class="partner-list--item-img" src="/theme/assets/img/direita.png">
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="copyright">
    <p class="text-muted text-center">A Comunidade de Práticas está licenciada com uma Licença<br> <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/br/deed.pt">Creative Commons - Atribuição-NãoComercial-CompartilhaIgual 2.0 Brasil (CC BY-NC-SA 2.0 BR)</a></p>
  </div>
</footer>

{{we-avatar-modal store=store}}
