<div class="container">
  <div class="row user-profile">
    <div class="col-sm-3">
      <div class="block block-up-picture">
        <h2 class="heading--text-md title">
          Foto Perfil
          <span class="nome">{{profileName}}</span>
        </h2>
        <div class="content">
          <div class="user-picture">
            {{user-avatar user=controller.model size="large"}}
          </div>
          <button class="btn btn-warning btn-block" {{action "showAvatarChangeModal"}}>Editar</button>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="tabs">
        <ul class="tabs-controller">
          <li><h4 class="tab-controller active">Informações Básicas</h4></li>
          <li><h4 class="tab-controller">Mais sobre Você</h4></li>
          <li><h4 class="tab-controller">Estudos e trabalhos</h4></li>
          <li><h4 class="tab-controller">Conta</h4></li>
        </ul>
        <div class="tab active">
          <div class="tab-content">
            <h3 class="heading--text-lg">Sobre Mim</h3>
            <form {{action "updateUser" on="submit"}}>
              <div class="row">
                <div class="col-md-12">
                  {{input classNames="form-control input-50" placeholder="Como gostaria de ser chamado?" type="text" value=displayName required="required"}}
                  <div class="input-help">Como você deseja ser chamado? (pode ser um apelido, seu nome ou sobrenome)</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{input classNames="form-control input-50" placeholder="Nome Completo" type="text" value=fullName required="required"}}
                  <div class="input-help">Digite seu nome completo</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  {{input classNames="form-control" type="date" value=birthDate required="required"}}
                  <div class="input-help">Data de Nascimento</div>
                </div>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      {{input type="checkbox" name="showBday" checked=showBday required="required"}} Exibir no Perfil
                      <div class="input-help">(desmarque caso não queira exibir esta informação)</div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                {{view "select" content=generos value=gender prompt="Sexo" classNames="form-control input-50" required="required"}}
                  <div class="input-help">Sexo</div>
                </div>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      {{input type="checkbox" name="showGenre" checked=showGenre required="required"}} Exibir no Perfil
                      <div class="input-help">(desmarque caso não queira exibir esta informação)</div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{we-state-city-simple-selector selectedState=locationState selectedCity=city}}
                  <div class="input-help">Cidade que reside atualmente</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{we-term-simple-select vocabulary="1" promptText="Formação Profissional" currentValue=major}}
                  <div class="input-help">Formação profissional mais relevante para o trabalho atual</div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12"><button type="submit" class="btn btn-primary" {{bind-attr disabled=isDirty}}>Enviar</button></div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab" {{bind-attr class="aboutMe::tab-blocked"}}>
          <div class="tab-content">
            <h3 class="heading--text-lg">Mais sobre você</h3>
            <form>
              <div class="row">
                <div class="col-md-12">
                  {{textarea value=biography class="form-control" placeholder="Fique a vontade para falar sobre você"}}
                  <div class="input-help">Fale sobre você e seus objetivos na Comunidade de Prática</div>
                </div>
              </div>
              <h4 class="heading--text-sm">
                Você nas Redes
              </h4>
              <div class="row">
                <div class="col-md-6">
                  {{input type="text" placeholder="Perfil no Facebook" class="form-control" value=fbprofile}}
                </div>
                <div class="col-md-6">
                  {{input type="text" placeholder="Perfil no Instagram" class="form-control" value=instprofile}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  {{input type="text" placeholder="Perfil no LinkedIn" class="form-control" value=lkinprofile}}
                </div>
                <div class="col-md-6">
                  {{input type="text" placeholder="Perfil no Twitter" class="form-control" value=twitprofile}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  {{input type="text" placeholder="Perfil no YouTube" class="form-control" value=youtbprofile}}
                </div>
                <div class="col-md-6">
                  {{input type="text" placeholder="Qualquer link sobre você (Seu Blog, About.me)" class="form-control" value=otherprofile}}
                </div>
              </div>
              <h4 class="heading--text-sm">
                Tem Lattes?
              </h4>
              <div class="row">
                <div class="col-md-12">
                  {{input type="text" placeholder="Coloca o link do Currículo" class="form-control" value=lattes}}
                  <div class="input-help">Insira o link do seu currículo</div>
                </div>
              </div>
              <h4 class="heading--text-sm">
                Interesses
              </h4>
              <div class="row">
                <div class="col-md-12">
                  {{we-term-select2 placeholder="Em quê você pode ajudar?" vocabulary="2" delegate=controller alias="weTermIntHlp" getSelection="weTermIntHlpGetSelection" value=interestsAjd}}                  
                  <div class="input-help">Escolha assuntos que você domina e pode ajudar a outros usuários a dominar também.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{we-term-select2 placeholder="O que gostaria de saber mais?" vocabulary="2" delegate=controller alias="weTermInt" getSelection="weTermIntGetSelection" value=interests}}
                  <div class="input-help">Escolha assuntos que você domina e pode ajudar a outros usuários a dominar também.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"><button type="button" class="btn btn-primary" {{action 'updateUser'}} {{bind-attr disabled=isDirty}}>Enviar</button></div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab" {{bind-attr class="aboutMe::tab-blocked"}}>
          <div class="tab-content">
            <h3 class="heading--text-lg">Estudo e Trabalhos</h3>
            <form action="">
              <h4 class="heading--text-sm">
                Estudo
              </h4>
              <div class="row">
                <div class="col-md-12">
                  {{view "select" content=formacao value=grade prompt="Selecione grau de formação" classNames="form-control input-50"}}
                  <div class="input-help">Qual o seu grau de formação?</div>
                </div>
              </div>
              <h4 class="heading--text-sm">
                Cursos
              </h4>
              <div class="row">
                  {{we-courses classNames="col-md-12" user=id}}
              </div>
              <div class="row">
                <div class="col-md-12"><button type="button" class="btn btn-primary" {{action 'updateUser'}} {{bind-attr disabled=isDirty}}>Enviar</button></div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab" {{bind-attr class="aboutMe::tab-blocked"}}>
          <div class="tab-content">
            <h3 class="heading--text-lg">Conta e Acesso ao CdP</h3>
            <form>
              <div class="row">
                <div class="col-md-6">
                  {{input type="text" placeholder="E-mail" classNames="form-control" disabled="disabled" value=email}}
                  <div class="input-help">Insira seu email</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  {{input type="text" placeholder="CPF" classNames="form-control" disabled="disabled" value=cpf}}
                  <div class="input-help">Insira um CPF válido</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" {{bind-attr class="usernameInvalid:has-error"}}>
                  {{input type="text" placeholder="Username" classNames="form-control" value=username}}
                  <div class="input-help-username input-help">Seu nome de usuário</div>                    
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary" {{bind-attr disabled=usernameInvalid}} {{action 'updateUser'}}>Enviar</button>                
                </div>                              
              </div>
              <h4 class="heading--text-sm">Mudar a Senha</h4>
              <div class="row">
                <div class="col-md-4">
                  {{input type="password" placeholder="Senha Atual" classNames="form-control" value=currPassword}}
                  <div class="input-help">Digite a senha atual</div>
                </div>              
                <div class="col-md-4">
                  {{input type="password" placeholder="Nova senha" classNames="form-control" value=newPassword}}
                  <div class="input-help">Defina uma nova senha</div>
                </div>
                <div class="col-md-4">
                  {{input type="password" placeholder="Confirmar senha" classNames="form-control" value=rNewPassword}}
                  <div class="input-help">Confirme a nova senha</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"><button type="button" class="btn btn-primary" {{action 'changePassword'}} {{bind-attr disabled=newPasswordInvalid}}>Alterar Senha</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>