{{#unless aboutMe}}
<div class="container missing-info-msg">
  <div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4><strong>Atenção, para continuar preencha todos os campos abaixo!</strong></h4>
    <p>Agora, basta preencher as informações básicas (formulário abaixo) e ter acesso total à CdP! É rápido! Após isso você já pode navegar pela rede, ou se preferir preencher seu perfil completo acessando as abas. Quanto mais você preencher, mais fácil você será encontrado e encontrará pessoas e conteúdos de seu interesse. Está com pressa? Sem problemas. O seu cadastro sempre estará aqui e poderá ser preenchido (ou atualizado) a qualquer momento.</p>
  </div>  
</div>
{{/unless}}
<div class="container">
  <div class="row user-profile">
    <div class="col-sm-3">
      <div class="block block-up-picture">
        <h2 class="heading--text-md title">
          Foto Perfil
          <span class="nome">{{profileName}}</span>
        </h2>
        <div class="content">
          <div class="user-picture">
            {{user-avatar user=controller.model size="large"}}
          </div>
          <button class="btn btn-warning btn-block" {{action "showAvatarChangeModal"}}>Editar</button>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="tabs">
        <ul class="tabs-controller">
          <li><h4 class="tab-controller active">Informações Básicas</h4></li>
          <li><h4 class="tab-controller">Mais sobre Você</h4></li>
          <li><h4 class="tab-controller">Estudos e trabalhos</h4></li>
          <li><h4 class="tab-controller">Conta</h4></li>
        </ul>
        <div class="tab active">
          <div class="tab-content">
            <h3 class="heading--text-lg">Sobre Mim</h3>
            <form {{action "updateUser" on="submit"}}>
              {{#if canEditCPF}}
                <div class="row"><div class="col-md-12 has-error">
                  {{input type="text" placeholder="CPF" classNames="form-control" value=cpf}}
                  <span class='input-help required-indicator'>*</span>
                  <div class="input-help">Insira um CPF válido</div>
                </div></div>
              {{/if}}

              <div class="row">
                <div class="col-md-12" {{bind-attr class="displayNameErr:has-error"}}>
                  {{input classNames="form-control input-50" placeholder="Nome de exibição" type="text" value=displayName required="required"}}
                  <span class='input-help required-indicator'>*</span>
                  {{#if displayNameErr}}
                    <div class="input-help">{{displayNameErrMessage}}</div>
                  {{else}}
                    <div class="input-help">Esta será a forma como outros usuários irão visualizar seu nome</div>                  
                  {{/if}}                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" {{bind-attr class="fullNameErr:has-error"}}>
                  {{input classNames="form-control input-50" placeholder="Nome Completo" type="text" value=fullName required="required"}}
                  <span class='input-help required-indicator'>*</span>
                  {{#if fullNameErr}}
                    <div class="input-help">{{fullNameErrMessage}}</div>
                  {{else}}
                    <div class="input-help">Nome completo (é o nome que será usado para os certificados dos cursos e outros documentos oficiais gerados no site)</div>                  
                  {{/if}}                   
                </div>
              </div>

              <div class="row">
                <div class="col-md-6" {{bind-attr class="birthDateErr:has-error"}}>
                  {{date-field classNames="form-control" value=birthDate required="required" placeholder="DD/MM/AAAA" i18n=i18n}}
                  <span class='input-help required-indicator'>*</span>
                  {{#if birthDateErr}}
                    <div class="input-help">{{birthDateErrMessage}}</div>
                  {{else}}
                    <div class="input-help">Data de Nascimento</div>                  
                  {{/if}}  
                </div>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      {{input type="checkbox" name="showBday" checked=showBday}} Exibir no Perfil
                      <div class="input-help">(desmarque caso não queira exibir esta informação)</div>
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6" {{bind-attr class="genderErr:has-error"}}>
                {{view "select" content=generos value=gender prompt="Sexo" classNames="form-control input-50" required="required"}}
                  <span class='input-help required-indicator'>*</span>
                  {{#if genderErr}}
                    <div class="input-help">{{genderErrMessage}}</div>
                  {{else}}
                    <div class="input-help">Sexo</div>                  
                  {{/if}}                 
                </div>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      {{input type="checkbox" name="showGenre" checked=showGenre}} Exibir no Perfil
                      <div class="input-help">(desmarque caso não queira exibir esta informação)</div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" {{bind-attr class="locationStateErr:has-error cityErr:has-error"}}>
                  {{we-state-city-simple-selector selectedState=locationState selectedCity=city}}
                  <span class='input-help required-indicator'>*</span>
                  {{#if locationStateErr}}
                    <div class="input-help">{{locationStateErrMessage}}</div>
                  {{else}}
                    {{#if cityErr}}
                    <div class="input-help">{{cityErrMessage}}</div>
                    {{else}}
                    <div class="input-help">Estado e cidade que reside atualmente</div>
                    {{/if}}                    
                  {{/if}}                                     
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" {{bind-attr class="majorErr:has-error"}}>
                  {{we-term-simple-select vocabulary=majorVocabularyId promptText="Formação Profissional" currentValue=major}}
                  <span class='input-help required-indicator'>*</span>
                  {{#if majorErr}}
                    <div class="input-help">{{majorErrMessage}}</div>
                  {{else}}
                    <div class="input-help">Formação profissional mais relevante para o trabalho atual</div>                 
                  {{/if}}                   
                  </div>
              </div>
              <div class="row">

              </div>
              {{#if basicInvalid}}
                <div class="row">
                  <div class="col-md-12">                  
                    <div class="alert alert-warning" role="alert">Preencha todos os campos do formulário acima antes de salvar.</div>
                  </div>
                </div>
              {{/if}}
              <div class="row">
                <div class="col-md-12"><button type="submit" class="btn btn-primary" {{bind-attr disabled=basicInvalid}}>Salvar</button></div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab" {{bind-attr class="aboutMe::tab-blocked"}}>
          <div class="tab-content">
            <h3 class="heading--text-lg">Mais sobre você</h3>
            <form>
              <div class="row">
                <div class="col-md-12">
                  {{textarea value=biography cols="80" rows="4" placeholder="Fique a vontade para falar sobre você" class="form-control"}}                
                  <div class="input-help">Fale sobre você e seus objetivos na Comunidade de Prática</div>
                  <div class="input-help text-field-count">{{textFieldCount}}</div>
                </div>
              </div>
              <h4 class="heading--text-sm">
                Você nas Redes
              </h4>
              <div class="row">
                <div class="col-md-6" {{bind-attr class="fbprofileErr:has-error"}}>
                  {{input type="text" placeholder="Perfil no Facebook" class="form-control" value=fbprofile}}
                  <div class="input-help">Ex: 'https://www.facebook.com/(nomedeusuario)'</div>
                  {{#if fbprofileErr}}
                    <div class="error-message">Mensagem de Teste!</div>
                  {{/if}}
                </div>
                <div class="col-md-6" {{bind-attr class="instprofileErr:has-error"}}>
                  {{input type="text" placeholder="Perfil no Instagram" class="form-control" value=instprofile}}
                  <div class="input-help">Ex: 'http://instagram.com/(nomedeusuario)'</div>
                  {{#if instprofileErr}}
                    <div class="error-message">Mensagem de Teste!</div>
                  {{/if}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" {{bind-attr class="lkinprofileErr:has-error"}}>
                  {{input type="text" placeholder="Perfil no LinkedIn" class="form-control" value=lkinprofile}}
                  <div class="input-help">Ex: 'linkedin.com/pub/(nomedeusuario)'</div>
                  {{#if lkinprofileErr}}
                    <div class="error-message">Mensagem de Teste!</div>
                  {{/if}}
                </div>
                <div class="col-md-6" {{bind-attr class="twitprofileErr:has-error"}}>
                  {{input type="text" placeholder="Perfil no Twitter" class="form-control" value=twitprofile}}
                  <div class="input-help">Ex: 'https://twitter.com/(nomedeusuario)'</div>
                  {{#if twitprofileErr}}
                    <div class="error-message">Mensagem de Teste!</div>
                  {{/if}}                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" {{bind-attr class="youtbprofileErr:has-error"}}>
                  {{input type="text" placeholder="Perfil no YouTube" class="form-control" value=youtbprofile}}
                  <div class="input-help">Ex: 'https://www.youtube.com/user/(nomedeusuario)'</div>
                  {{#if youtbprofileErr}}
                    <div class="error-message">Mensagem de Teste!</div>
                  {{/if}}                  
                </div>
                <div class="col-md-6" {{bind-attr class="otherprofileErr:has-error"}}>
                  {{input type="text" placeholder="Qualquer link sobre você (Seu Blog, About.me)" class="form-control" value=otherprofile}}
                  <div class="input-help">Ex: 'http://www.(seusite).com.br'</div>
                  {{#if otherprofileErr}}
                    <div class="error-message">Mensagem de Teste!</div>
                  {{/if}}                  
                </div>
              </div>
              <h4 class="heading--text-sm">
                Tem Lattes?
              </h4>
              <div class="row">
                <div class="col-md-12" {{bind-attr class="lattesErr:has-error"}}>
                  {{input type="text" placeholder="Coloca o link do Currículo" class="form-control" value=lattes}}
                  <div class="input-help">Insira o link do seu currículo no formato 'http://lattes.cnpq.br/5781403814989678'</div>
                  {{#if lattesErr}}
                    <div class="error-message">Mensagem de Teste!</div>
                  {{/if}}                  
                </div>
              </div>
               <h4 class="heading--text-sm">
                Interesses
              </h4>
              <div class="row">
                <div class="col-md-12">
                  {{we-term-select2 placeholder="Em que pode ajudar?" vocabulary=interestsVocabularyId delegate=controller alias="weTermIntHlp" getSelection="weTermIntHlpGetSelection" value=interestsAjd}}                  
                  <div class="input-help">Escolha assuntos que você domina e pode ajudar a outros usuários a dominar também.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{we-term-select2 placeholder="O que quer saber mais?" vocabulary=interestsVocabularyId delegate=controller alias="weTermInt" getSelection="weTermIntGetSelection" value=interests}}
                  <div class="input-help">Aqui você coloca assuntos que você quer saber mais e que outros usuários vão poder te ajudar.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"><button type="button" class="btn btn-primary" {{action 'updateUser'}} {{bind-attr disabled=moreAboutYouInvalid}}>Salvar</button></div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab" {{bind-attr class="aboutMe::tab-blocked"}}>
          <div class="tab-content">
            <h3 class="heading--text-lg">Estudo e Trabalhos</h3>
            <form action="">
              <h4 class="heading--text-sm">
                Estudo
              </h4>
              <div class="row">
                <div class="col-md-12">
                  {{view "select" content=formacao value=grade prompt="Selecione grau de formação" classNames="form-control input-50"}}
                  <div class="input-help">Qual o seu grau de formação?</div>
                </div>
              </div>
              <h4 class="heading--text-sm">
                Cursos
              </h4>
              <div class="row">
                  {{we-courses classNames="col-md-12" user=id}}
              </div>
              <div class="row">
                <div class="col-md-12"><button type="button" class="btn btn-primary" {{action 'updateUser'}} {{bind-attr disabled=isDirty}}>Salvar</button></div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab" {{bind-attr class="aboutMe::tab-blocked"}}>
          <div class="tab-content">
            <h3 class="heading--text-lg">Conta e Acesso ao CdP</h3>
            <form>
              <div class="row">
                <div class="col-md-6">
                  {{input type="text" placeholder="E-mail" classNames="form-control" disabled="disabled" value=email}}
                  <div class="input-help">Insira seu email</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  {{input type="text" placeholder="CPF" classNames="form-control" disabled="disabled" value=cpfMask}}
                  <div class="input-help">Insira um CPF válido</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" {{bind-attr class="usernameErr:has-error"}}>
                  {{input type="text" placeholder="Username" classNames="form-control" value=username}}
                  {{#if usernameErr}}
                    <div class="input-help">{{usernameErrMessage}}</div>
                  {{else}}
                    <div class="input-help">Seu nome de usuário</div>  
                  {{/if}}                                                       
                </div>              
              </div>
              <div class="row">
                <div class="col-md-12"><button type="button" class="btn btn-primary" {{action 'updateUser'}} {{bind-attr disabled=isDirty}}>Alterar</button></div>
              </div>              
              <h4 class="heading--text-sm">Mudar a Senha</h4>
              <div class="row">
                <div class="col-md-4">
                  {{input type="password" placeholder="Senha Atual" classNames="form-control" value=currPassword}}
                  <div class="input-help">Digite a senha atual</div>
                </div>              
                <div class="col-md-4" {{bind-attr class="newPasswordErr:has-error"}}>
                  {{input type="password" placeholder="Nova senha" classNames="form-control" value=newPassword}}
                  {{#if newPasswordErr}}
                    <div class="input-help">{{newPasswordErrMessage}}</div>
                  {{else}}
                    <div class="input-help">Defina uma nova senha</div>
                  {{/if}}                                     
                </div>
                <div class="col-md-4" {{bind-attr class="rNewPasswordErr:has-error"}}>
                  {{input type="password" placeholder="Confirmar senha" classNames="form-control" value=rNewPassword}}
                  {{#if rNewPasswordErr}}
                    <div class="input-help">{{rNewPasswordErrMessage}}</div>
                  {{else}}
                    <div class="input-help">Confirme a nova senha</div>
                  {{/if}}                                     
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"><button type="button" class="btn btn-primary" {{action 'changePassword'}} {{bind-attr disabled=newPasswordInvalid}}>Salvar Senha</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>