<div class="container">
{{partial 'partials/auth-navbar'}}

{{we-sys-messages messages=messages}}

<form {{action 'requestPasswordChange' on="submit"}} action="/auth/forgot-password" method="post" class="auth-form user-forgot-password-form" name="forgotPasswordForm">
  <div class="form-content">
    <div class="form-icon">
      <i class="icons-outline icons-outline-letter"></i>
    </div>
    <h2 class="form-heading">{{t "user.forgot-password.title"}}</h2>
    <h4>{{t "user.forgot-password.help"}}</h4>    

    <!-- input: email -->
    <div class="form-group">
      <div class="input-group" {{bind-attr class="emailErr:has-error:has-success" }}>
        {{input id="email" name="email" value=email  type="email" placeholder="Email" classNames="form-control input-lg" required="true"}}
        <label for="email" class="input-group-addon">
          <span class="icons-outline icons-outline-letter"></span>
        </label>
      </div>
      {{#if emailErr}}
      <div class="input-help error">{{emailErrMessage}}</div>
      {{/if}}
    </div>
    <!-- /input: email -->

    <div class="form-group clearfix">
      <div class="input-group pull-right">
        <button class="btn btn-lg btn-success submit" type="submit" {{bind-attr disabled=invalidForm}}>
          {{t "Send"}}
        </button>
      </div>
    </div>
  </div>
</form>  
</div>
