<div class="container">
{{we-sys-messages messages=messages}}
{{partial 'partials/auth-navbar'}}

<form action="/auth/forgot-password" name="forgotPasswordForm" class="auth-form user-forgot-password-form" method="POST">
  <div class="form-content">
    <div class="form-icon">
      <i class="icons-outline icons-outline-letter"></i>
    </div>
    <h2 class="form-heading">{{t "user.forgot-password.title"}}</h2>
    <h4>{{t "user.forgot-password.help"}}</h4>
      <!-- input: email -->
      <div class="form-group">
        <div class="input-group">
          <input id="email" class="form-control input-lg" placeholder="Digite seu email" required="true" type="email" value="" name="email">
          <label for="email" class="input-group-addon">
            <i class="icons-outline icons-outline-letter"></i>
          </label>
        </div>
      </div>
      <!-- /input: email -->

    <div class="form-group clearfix">
      <div class="input-group pull-right">
        <button class="btn btn-lg btn-success submit" type="submit">
          {{t "Send"}}
        </button>
      </div>
    </div>
  </div>
</form>  
</div>
