<div class="container">
  <form {{action 'setNewPassword' on='submit'}} name="newPasswordForm" class="auth-form user-change-new-form" method="POST">
    <div class="form-content">
      <div class="form-icon">
        <i class="icons-outline icons-outline-padlock-closed"></i>
      </div>
      <h2 class="form-heading">{{t "user.new-password.title"}}</h2>
      <h4>{{t "user.new-password.help"}}</h4><br>
         <!-- input: password -->
         <div class="form-group">
          <div class="input-group">
          {{input id="newPassword" name="newPassword" value=newPassword type="password" placeholder="Senha" classNames="form-control input-lg"}}
          <label for="password" class="input-group-addon">
            <span class="icons-outline icons-outline-padlock-closed"> </span>{{t "auth.new-password.form.newPassword"}}
          </label>
         </div>
         </div>
        <!-- /input: newPassword -->
        <div class="form-group">
          <div class="input-group">
            <!-- input: confirm-password -->
            {{input id="rNewPassword" name="rNewPassword" value=rNewPassword type="password" placeholder="Repetir Senha" classNames="form-control input-lg"}}            
            <label for="confirm-password" class="input-group-addon">
              <span class="icons-outline icons-outline-padlock-closed"> </span>{{t "auth.new-password.form.confirmPassword"}}
            </label>
            <!-- /input: confirm-password -->
          </div>
        </div>
      <div class="form-group clearfix">
        <div class="input-group pull-right">
          <button class="btn btn-lg btn-success submit" type="submit">
            {{t "Send"}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

