<div class="container">
  <form {{action 'setNewPassword' on='submit'}} name="newPasswordForm" class="auth-form user-change-new-form" method="POST">
    <div class="form-content">
      <div class="form-icon">
        <i class="icons-outline icons-outline-padlock-closed"></i>
      </div>
      <h2 class="form-heading">{{t "user.new-password.title"}}</h2>
      <h4>{{t "user.new-password.help"}}</h4><br>

        <!-- input: newPassword -->
        <div class="form-group">
          <div class="input-group" {{bind-attr class="passwordErr:has-error:has-success" }}>
            {{input id="newPassword" name="password" value=user.password  type="password" placeholder="Senha"  required="true" classNames="form-control input-lg"}}
            <label for="newPassword" class="input-group-addon">
            {{#if passwordErr}}
              <div class="input-help">{{passwordErrMessage}}</div>
            {{/if}}
            </label>
            <label for="newPassword" class="input-group-addon">
              <span class="icons-outline icons-outline-padlock-closed"> </span>
            </label>
          </div>
        </div>
        <!-- /input: newPassword -->
        <!-- input: rNewPassword -->
        <div class="form-group">
          <div class="input-group" {{bind-attr class="confirmPasswordErr:has-error:has-success" }}>
            {{input id="rNewPassword" name="password" value=user.confirmPassword  type="password" placeholder="Senha"  required="true" classNames="form-control input-lg"}}
            <label for="rNewPassword" class="input-group-addon">
            {{#if confirmPasswordErr}}
              <div class="input-help">{{confirmPasswordErrMessage}}</div>
            {{/if}}
            </label>
            <label for="rNewPassword" class="input-group-addon">
              <span class="icons-outline icons-outline-padlock-closed"> </span>
            </label>
          </div>
        </div>
        <!-- /input: rNewPassword -->
      <div class="form-group clearfix">
        <div class="input-group pull-right">
          <button class="btn btn-lg btn-success submit" type="submit" {{bind-attr disabled=invalidForm}}>
            {{t "Send"}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

