<div class="container">
{{partial 'partials/auth-navbar'}}
{{we-sys-messages messages=messages}}
<form role="form" {{action 'register' on="submit"}} name="createAccountForm" class="auth-form user-signup-form">
  <div class="form-content">
    <div class="user-signup-logo-cdp">
      {{partial 'partials/cdp-logo-svg'}}
    </div>
    <h2 class="form-heading">{{t "auth.register.title"}}</h2>
    <h4>{{t "auth.register.subtitle"}}</h4>
    <!-- input: username -->
    <div class="form-group">
      <div class="input-group" {{bind-attr class="usernameErr:has-error:has-success" }}>
        {{input id="username" name="username" value=user.username  type="text" placeholder="Digite um nome único" required="true" classNames="form-control input-lg"}} 
        <label for="username" class="input-group-addon">
          <span class="icons-outline icons-outline-user"></span>
        </label>
      </div>
      {{#if usernameErr}}
       <div class="form-group has-error ">
          <div class="input-help error">{{usernameErrMessage}}</div>
        </label>
      {{/if}}         
    </div>
    <!-- /input: username -->

    <!-- input: cpf -->
    <div class="form-group">
      <div class="input-group" {{bind-attr class="cpfErr:has-error:has-success" }}>
        {{input id="cpf" name="cpf" value=user.cpf  type="text" placeholder="CPF" classNames="form-control input-lg" required="true"}}        
        <label for="cpf" class="input-group-addon">
          <span class="icons-outline icons-outline-user"></span>
        </label>
      </div>
      {{#if cpfErr}}
       <div class="form-group has-error ">
          <div class="input-help error">{{cpfErrMessage}}</div>
        </label>
      {{/if}}      
    </div>
    <!-- /input: cpf -->

    <!-- input: email -->
    <div class="form-group">
      <div class="input-group" {{bind-attr class="emailErr:has-error:has-success" }}>
        {{input  id="email" name="email" value=user.email  type="email" placeholder="Email" classNames="form-control input-lg" required="true"}}
        <label for="email" class="input-group-addon">
          <span class="icons-outline icons-outline-letter"></span>
        </label>
      </div>
      {{#if emailErr}}
       <div class="form-group has-error ">
          <div class="input-help error">{{emailErrMessage}} </div>
        </label>
      {{/if}}
    </div>
    <!-- /input: email -->

    <!-- input: confirm-email -->
    <div class="form-group">
      <div class="input-group" {{bind-attr class="confirmEmailErr:has-error:has-success" }}>
        {{input id="confirmEmail" name="confirmEmail" value=user.confirmEmail  type="email" placeholder="Repetir Email" classNames="form-control input-lg" required="true"}}
        <label for="confirmEmail" class="input-group-addon">
          <span class="icons-outline icons-outline-letter"></span>
        </label>
      </div>
      {{#if confirmEmailErr}}
       <div class="form-group has-error ">
          <div class="input-help error">{{confirmEmailErrMessage}}</div>
        </label>
      {{/if}}      
    </div>
    <!-- input: confirm-email -->

    <!-- input: password -->
    <div class="form-group">
      <div class="input-group" {{bind-attr class="passwordErr:has-error:has-success" }}>
        {{input id="password" name="password" value=user.password  type="password" placeholder="Senha"  required="true" classNames="form-control input-lg"}}
        <label for="password" class="input-group-addon">
          <span class="icons-outline icons-outline-padlock-closed"> </span>
        </label>
      </div>
      {{#if passwordErr}}
       <div class="form-group has-error ">
          <div class="input-help error">{{passwordErrMessage}}</div>
        </label>
      {{/if}}       
    </div>
    <!-- /input: password -->
    <div class="form-group">
      <div class="input-group" {{bind-attr class="confirmPasswordErr:has-error:has-success" }}>
       {{input id="confirmPassword" name="confirmPassword" value=user.confirmPassword  type="password" placeholder="Repetir Senha" required="true" classNames="form-control input-lg"}}
        <label for="confirmPassword" class="input-group-addon">
          <span class="icons-outline icons-outline-padlock-closed"> </span>
        </label>
      </div>
      {{#if confirmPasswordErr}}
       <div class="form-group has-error ">
          <div class="input-help error">{{confirmPasswordErrMessage}}</div>
        </label>
      {{/if}}        
    </div>
    <!-- /input: confirm-password -->

    <div class="form-group">
      <div class="input-group">
        <div class="agree-terms">
          {{input type="checkbox" name="isChecked" checked=isChecked class="form-checkbox required"}}
          <strong>Li e aceito as <a target="_blank" href="https://ajuda.atencaobasica.org.br/central-cdp/termo-de-uso/">regras de convivência</a> e <a target="_blank" href="https://ajuda.atencaobasica.org.br/central-cdp/termo-de-uso/">termo de uso</a> da Comunidade de Práticas.*</strong>
        </div>
        {{#if isCheckedErrMessage}}
          <div class="input-help">É necessário aceitar as regras de convivência e termos de uso</div>
        {{/if}}        
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="input-group pull-right">
        <button class="btn btn-primary submit" type="submit" {{bind-attr disabled=invalidForm}}> 
          {{t "Send"}}
        </button>
      </div>
    </div>

    <input type="hidden" name="language" value="pt-br">

    <input class="eu-gosto-de-mel" type="text" name="mel" value="" style="display: none">
  </div>
</form>
</div>