<div class="container">
{{we-sys-messages messages=messages}}
{{partial 'partials/auth-navbar'}}
<form action="/signup" name="createAccountForm" class="auth-form user-signup-form" method="POST">
  <div class="form-content">
    <div class="user-signup-logo-cdp">
      {{partial 'partials/cdp-logo-svg'}}
    </div>
    <h2 class="form-heading">{{t "auth.register.title"}}</h2>
    <h4>{{t "auth.register.subtitle"}}</h4>
    <!-- input: username -->
    <div class="form-group">
      <div class="input-group">

        <input id="username" minlength="2" class="form-control input-lg" placeholder="Digite um nome único" required="true" type="text" name="username">
        <label for="username" class="input-group-addon">
          <div id="usernameResponse"></div>
        </label>
        <label for="username" class="input-group-addon">
          <span class="icons-outline icons-outline-user"></span>
        </label>
      </div>
    </div>
    <!-- /input: username -->

    <!-- input: cpf -->
    <div class="form-group">
      <div class="input-group">
        <input id="cpf" class="form-control input-lg" placeholder="Digite o seu CPF" required="true" type="text"  name="cpf">
        <label for="cpf" class="input-group-addon">
          <div id="cpfResponse"></div>
        </label>
        <label for="cpf" class="input-group-addon">
          <span class="icons-outline icons-outline-user"></span>
        </label>
      </div>
    </div>
    <!-- /input: cpf -->

    <!-- input: email -->
    <div class="form-group">
      <div class="input-group">
        <input id="email" class="form-control input-lg" placeholder="Email" required="true" type="email" name="email">
        <label for="email" class="input-group-addon">
          <span class="icons-outline icons-outline-letter"></span>
        </label>
      </div>
    </div>
    <!-- /input: email -->

    <!-- input: confirm-email -->
    <div class="form-group">
      <div class="input-group">
        <input id="confirm-email" class="form-control input-lg" placeholder="Repetir email" required="true" type="email" name="confirmEmail">
        <label for="confirm-email" class="input-group-addon">
          <span class="icons-outline icons-outline-letter"></span>
        </label>
      </div>
    </div>
    <!-- input: confirm-email -->

    <!-- input: password -->
    <div class="form-group">
      <div class="input-group">

        <input id="password" class="form-control input-lg" placeholder="Senha" required="true" type="password" name="password">

        <!-- input: confirm-password -->
        <label for="confirm-password" class="sr-only input-group-btn">
        </label>
        <label for="password" class="input-group-addon">
          <span class="icons-outline icons-outline-padlock-closed"> </span>
        </label>
      </div>
    </div>
    <!-- /input: password -->
    <div class="form-group">
      <div class="input-group">
        <input id="confirm-password" class="form-control input-lg" placeholder="Repetir Senha" required="true" type="password" name="confirmPassword">
        <label for="password" class="input-group-addon">
          <span class="icons-outline icons-outline-padlock-closed"> </span>
        </label>
      </div>
    </div>
    <!-- /input: confirm-password -->

    {{we-sys-messages messages=messages}}

    <div class="form-group">
      <div class="input-group">
        <div class="agree-terms">
          <input type="checkbox" name="termos" value="1" class="form-checkbox required">
          <strong>Li e aceito as <a target="_blank" href="https://ajuda.atencaobasica.org.br/central-cdp/termo-de-uso/">regras de convivência</a> e <a target="_blank" href="https://ajuda.atencaobasica.org.br/central-cdp/termo-de-uso/">termo de uso</a> da Comunidade de Práticas.*</strong>
        </div>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="input-group pull-right">
        <button class="btn btn-lg btn-success submit" type="submit">
          {{t "Send"}}
        </button>
      </div>
    </div>

    <input type="hidden" name="language" value="pt-br">

    <input class="eu-gosto-de-mel" type="text" name="mel" value="" style="display: none">
  </div>
</form>
</div>