<div class="container">
{{partial 'partials/auth-navbar'}}
<form role="form" {{action 'register' on="submit"}} name="createAccountForm" class="auth-form user-signup-form" method="POST">
  <div class="form-content">
    <div class="user-signup-logo-cdp">
      {{partial 'partials/cdp-logo-svg'}}
    </div>
    <h2 class="form-heading">{{t "auth.register.title"}}</h2>
    <h4>{{t "auth.register.subtitle"}}</h4>
    <!-- input: username -->
    <div class="form-group">
      <div class="input-group">
        {{input id="username" name="username" value=user.username  type="text" placeholder="Digite um nome único" required="true" classNames="form-control input-lg"}}
        <label for="username" class="input-group-addon">
          <div id="usernameResponse"></div>
        </label>
        <label for="username" class="input-group-addon">
          <span class="icons-outline icons-outline-user"></span>
        </label>
      </div>
    </div>
    <!-- /input: username -->

    <!-- input: cpf -->
    <div class="form-group">
      <div class="input-group">
        {{input id="cpf" name="cpf" value=user.cpf  type="email" placeholder="CPF" classNames="form-control input-lg" required="true"}}
        <label for="cpf" class="input-group-addon">
          <div id="cpfResponse"></div>
        </label>
        <label for="cpf" class="input-group-addon">
          <span class="icons-outline icons-outline-user"></span>
        </label>
      </div>
    </div>
    <!-- /input: cpf -->

    <!-- input: email -->
    <div class="form-group">
      <div class="input-group">
        {{input id="email" name="email" value=user.email  type="email" placeholder="Email" classNames="form-control input-lg" required="true"}}              
        <label for="email" class="input-group-addon">
          <span class="icons-outline icons-outline-letter"></span>
        </label>
      </div>
    </div>
    <!-- /input: email -->

    <!-- input: confirm-email -->
    <div class="form-group">
      <div class="input-group">
        {{input id="confirmEmail" name="confirmEmail" value=user.confirmEmail  type="email" placeholder="Repetir Email" classNames="form-control input-lg" required="true"}}      
        <label for="confirm-email" class="input-group-addon">
          <span class="icons-outline icons-outline-letter"></span>
        </label>
      </div>
    </div>
    <!-- input: confirm-email -->

    <!-- input: password -->
    <div class="form-group">
      <div class="input-group">

        {{input id="password" name="password" value=user.password  type="password" placeholder="Senha"  required="true" classNames="form-control input-lg"}}

        <!-- input: confirm-password -->
        <label for="confirm-password" class="sr-only input-group-btn">
        </label>
        <label for="password" class="input-group-addon">
          <span class="icons-outline icons-outline-padlock-closed"> </span>
        </label>
      </div>
    </div>
    <!-- /input: password -->
    <div class="form-group">
      <div class="input-group">
       {{input id="confirmPassword" name="confirmPassword" value=user.confirmPassword  type="password" placeholder="Repetir Senha" required="true" classNames="form-control input-lg"}}
        <label for="password" class="input-group-addon">
          <span class="icons-outline icons-outline-padlock-closed"> </span>
        </label>
      </div>
    </div>
    <!-- /input: confirm-password -->

    <div class="form-group">
      <div class="input-group">
        <div class="agree-terms">
          <input type="checkbox" name="termos" value="1" class="form-checkbox required">
          <strong>Li e aceito as <a target="_blank" href="https://ajuda.atencaobasica.org.br/central-cdp/termo-de-uso/">regras de convivência</a> e <a target="_blank" href="https://ajuda.atencaobasica.org.br/central-cdp/termo-de-uso/">termo de uso</a> da Comunidade de Práticas.*</strong>
        </div>
      </div>
    </div>

    {{we-sys-messages messages=messages}}

    <div class="form-group clearfix">
      <div class="input-group pull-right">
        <button class="btn btn-lg btn-success submit" type="submit">
          {{t "Send"}}
        </button>
      </div>
    </div>

    <input type="hidden" name="language" value="pt-br">

    <input class="eu-gosto-de-mel" type="text" name="mel" value="" style="display: none">
  </div>
</form>
</div>