<h2 class="page-title"><%= __("user.change-password.title") %></h2>

<hr>

<%- include ../partials/sys-messages.ejs %>

<form action="<%= formAction %>" name="changePasswordForm" class="user-change-password-form" method="POST">
  <h4><%- __('user.change-password.help') %></h4><br>
     <!-- input: password -->
     <div class="form-group">
      <div class="input-group">
      <label for="password" class="input-group-addon">
        <span class="glyphicon glyphicon-lock"> </span> <%= __("auth.change-password.form.password") %>
      </label>
      <input id="password" class="form-control input-lg" required="true" type="password" name="password">
     </div>
     </div>
    <!-- /input: password -->
     <!-- input: password -->
     <div class="form-group">
      <div class="input-group">
      <label for="password" class="input-group-addon">
        <span class="glyphicon glyphicon-lock"> </span> <%= __("auth.change-password.form.newPassword") %>
      </label>
      <input id="newPassword" class="form-control input-lg" required="true" type="password" name="newPassword">
     </div>
     </div>
    <!-- /input: newPassword -->
     <div class="form-group">
      <div class="input-group">
        <!-- input: confirm-password -->
        <label for="confirm-password" class="input-group-addon">
          <span class="glyphicon glyphicon-lock"> </span> <%= __("auth.change-password.form.confirmPassword") %>"
        </label>
        <input id="rNewPassword" class="form-control input-lg" required="true" type="password" name="rNewPassword">
        <!-- /input: confirm-password -->
    </div>
    </div>
  <hr>
  <div class="form-group">
    <div class="input-group">
      <button class="btn btn-lg btn-success submit" type="submit">
        <%= __("auth.register.form.submit") %>
        <span class="glyphicon glyphicon-chevron-right"> </span>
      </button>
    </div>
  </div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

