<%- include ../partials/sys-messages.ejs %>

<form action="<%= formAction %>" name="changePasswordForm" class="auth-form user-change-password-form" method="POST">
  <div class="form-content">
    <div class="form-icon">
      <i class="line line-lock"></i>
    </div>
    <h2 class="form-heading"><%= __("user.change-password.title") %></h2>
    <h4><%- __('user.change-password.help') %></h4><br>
       <!-- input: password -->
       <div class="form-group">
        <div class="input-group">
        <input id="password" class="form-control input-lg" required="true" type="password" name="password">
        <label for="password" class="input-group-addon">
          <span class="glyphicon glyphicon-lock"> </span> <%= __("auth.change-password.form.password") %>
        </label>
       </div>
       </div>
      <!-- /input: password -->
       <!-- input: password -->
       <div class="form-group">
        <div class="input-group">
        <input id="newPassword" class="form-control input-lg" required="true" type="password" name="newPassword">
        <label for="password" class="input-group-addon">
          <span class="glyphicon glyphicon-lock"> </span> <%= __("auth.change-password.form.newPassword") %>
        </label>
       </div>
       </div>
      <!-- /input: newPassword -->
      <div class="form-group">
        <div class="input-group">
          <!-- input: confirm-password -->
          <input id="rNewPassword" class="form-control input-lg" required="true" type="password" name="rNewPassword">
          <label for="confirm-password" class="input-group-addon">
            <span class="glyphicon glyphicon-lock"> </span> <%= __("auth.change-password.form.confirmPassword") %>"
          </label>
          <!-- /input: confirm-password -->
        </div>
      </div>
    <div class="form-group clearfix">
      <div class="input-group pull-right">
        <button class="btn btn-lg btn-success submit" type="submit">
          <%= __("auth.register.form.submit") %>
        </button>
      </div>
    </div>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </div>
</form>

