<h2 class="page-title"><%= __("user.forgot-password.title") %></h2>

<hr>

<%- include ../partials/sys-messages.ejs %>

<% if (!emailSend) { %>
  <form action="<%= formAction %>" name="forgotPasswordForm" class="user-forgot-password-form" method="POST">
    <h4><%- __('user.forgot-password.help') %></h4><br>
      <!-- input: email -->
      <div class="form-group">
        <div class="input-group">
          <label for="email" class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </label>
          <input id="email" class="form-control input-lg" placeholder="<%= __("auth.forgot-password.form.email") %>" required="true" type="email" value="<%= (user.email||'') %>" name="email">
        </div>
      </div>
      <!-- /input: email -->

    <hr>

    <div class="form-group">
      <div class="input-group">
        <button class="btn btn-lg btn-success submit" type="submit">
          <%= __("auth.register.form.submit") %>
          <span class="glyphicon glyphicon-chevron-right"> </span>
        </button>
      </div>
    </div>

    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
<% } %>
