<%- include ../partials/sys-messages.ejs %>

<% if (!emailSend) { %>
  <form action="<%= formAction %>" name="forgotPasswordForm" class="auth-form user-forgot-password-form" method="POST">
    <div class="form-content">
      <div class="form-icon">
        <i class="icons-outline icons-outline-letter"></i>
      </div>
      <h2 class="form-heading"><%= __("user.forgot-password.title") %></h2>
      <h4><%- __('user.forgot-password.help') %></h4>
        <!-- input: email -->
        <div class="form-group">
          <div class="input-group">
            <input id="email" class="form-control input-lg" placeholder="<%= __("auth.forgot-password.form.email") %>" required="true" type="email" value="<%= (user.email||'') %>" name="email">
            <label for="email" class="input-group-addon">
              <i class="icons-outline icons-outline-letter"></i>
            </label>
          </div>
        </div>
        <!-- /input: email -->

      <div class="form-group clearfix">
        <div class="input-group pull-right">
          <button class="btn btn-lg btn-success submit" type="submit">
            <%= __("auth.register.form.submit") %>
          </button>
        </div>
      </div>

      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </div>
    <div class="form-footer">
      <%- include ../partials/form-footer-links.ejs %>
    </div>
  </form>
<% } %>
