<% if (typeof errors !== 'undefined' && errors ) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<%- include ../partials/sys-messages.ejs %>

<form role="form" class="auth-form user-signup-form"  action="/login" method="post">

  <div class="form-content">

    <div class="user-signup-logo-cdp">
      <%- include ../partials/cdp-logo-svg.ejs %>
    </div>
    <h2 class="form-heading"><%= __("auth.login.title") %></h2>
    <h3>Faça seu login na CdP</h3>
    <!-- input: email -->
    <div class="form-group">
      <div class="input-group">
        <input class="form-control input-lg" placeholder="<%= __("auth.register.form.email") %>" required="true" type="email" name="email">
        <label for="email" class="input-group-addon">
          <span class="icons-outline icons-outline-letter"></span>
        </label>
      </div>
    </div>


    <!-- input: password -->
    <div class="form-group">
      <div class="input-group">
        <input class="form-control input-lg" placeholder="<%= __("auth.register.form.password") %>" required="true" type="password" name="password">
        <label for="password" class="input-group-addon">
          <span class="icons-outline icons-outline-padlock-closed"> </span>
        </label>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="input-group pull-right">
        <button class="btn btn-lg btn-success submit" type="submit">
          <%= __("auth.register.form.submit") %>
        </button>
      </div>
    </div>


    <input class="eu-gosto-de-mel" type="text" name="mel" value="">

  </div>
  <div class="form-footer">
    <%- include ../partials/form-footer-links.ejs %>
  </div>
</form>

<% if (typeof providers !== 'undefined' && providers ) {%>
  <h4>You can also use one of these...</h4>

  <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
  <% }) %>
<% } %>
