<%- include ../partials/sys-messages.ejs %>

<form action="<%= formAction %>" name="createAccountForm" class="auth-form user-signup-form" method="POST">
  <div class="form-content">
    <div class="form-icon">
      <i class="icons-outline icons-outline-globe"></i>
    </div>
    <h2 class="form-heading"><%= __("auth.register.title") %></h2>
    <h4><%- __('auth.register.form.fields.required.title') %></h4>
    <!-- input: username -->
    <div class="form-group">
      <div class="input-group">

        <input id="username" minlength="2" class="form-control input-lg" placeholder="<%= __("auth.register.form.username") %>" required="true" type="text" value="<%= (user.username||'') %>" name="username">
        <label for="username" class="input-group-addon">
          <div id="usernameResponse"></div>
        </label>
        <label for="username" class="input-group-addon">
          <span class="icons-outline icons-outline-user"></span>
        </label>
      </div>
    </div>
    <!-- /input: username -->

    <!-- input: cpf -->
    <div class="form-group">
      <div class="input-group">
        <input id="cpf" class="form-control input-lg" placeholder="Digite o seu CPF" required="true" type="text" value="<%= (user.cpf||'') %>" name="cpf">
        <label for="cpf" class="input-group-addon">
          <div id="cpfResponse"></div>
        </label>
        <label for="cpf" class="input-group-addon">
          <span class="icons-outline icons-outline-user"></span>
        </label>
      </div>
    </div>
    <!-- /input: cpf -->

    <!-- input: email -->
    <div class="form-group">
      <div class="input-group">
        <input id="email" class="form-control input-lg" placeholder="<%= __("auth.register.form.email") %>" required="true" type="email" value="<%= (user.email||'') %>" name="email">
        <label for="email" class="input-group-addon">
          <span class="icons-outline icons-outline-letter"></span>
        </label>
      </div>
    </div>
    <!-- /input: email -->

    <!-- input: password -->
    <div class="form-group">
      <div class="input-group">

        <input id="password" class="form-control input-lg" placeholder="<%= __("auth.register.form.password") %>" required="true" type="password" name="password">

        <!-- input: confirm-password -->
        <label for="confirm-password" class="sr-only input-group-btn">
        </label>
        <label for="password" class="input-group-addon">
          <span class="icons-outline icons-outline-padlock-closed"> </span>
        </label>
      </div>
    </div>
    <!-- /input: password -->
    <div class="form-group">
      <div class="input-group">
        <input id="confirm-password" class="form-control input-lg" placeholder="<%= __("auth.register.form.confirmPassword") %>" required="true" type="password" name="confirmPassword">
        <label for="password" class="input-group-addon">
          <span class="icons-outline icons-outline-padlock-closed"> </span>
        </label>
      </div>
    </div>
    <!-- /input: confirm-password -->

    <%- include ../partials/sys-messages.ejs %>

    <div class="form-group">
      <div class="input-group">
        <div class="agree-terms">
          <input type="checkbox" name="termos" value="1" class="form-checkbox required">
          <strong>Li e aceito as <a href="https://ajuda.atencaobasica.org.br/ajuda/central-cdp/termo-de-uso/">regras de convivência</a> e <a href="https://ajuda.atencaobasica.org.br/ajuda/central-cdp/termo-de-uso/">termo de uso</a> da Comunidade de Práticas.*</strong>
        </div>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="input-group pull-right">
        <button class="btn btn-lg btn-success submit" type="submit">
          <%= __("auth.register.form.submit") %>
        </button>
      </div>
    </div>

    <input type="hidden" name="language" value="pt-br">

    <% if(req.accessToken){ %>
      <input type="hidden" name="access_token" value="<%= req.accessToken.token %>" />
    <% } %>
    <input type="hidden" name="service" value="<%= service %>" />
    <input type="hidden" name="consumerId" value="<%= consumerId %>" />
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </div>
</form>