<h2 class="page-title form-signin-heading"><%= __("auth.register.title") %></h2>
<hr>

<!-- multstep menu links -->
<%- include ../partials/user-multistep-block.ejs %>
<!-- /multstep menu links -->

<%- include ../partials/sys-messages.ejs %>

<form action="<%= formAction %>" name="createAccountForm" class="user-signup-form" method="POST">
  <h4><%- __('auth.register.form.fields.required.title') %></h4><br>
  <!-- input: username -->
  <div class="form-group">
    <div class="input-group">
      <label for="username" class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </label>
      <input id="username" minlength="2" class="form-control input-lg" placeholder="<%= __("auth.register.form.username") %>" required="true" type="text" value="<%= (user.username||'') %>" name="username">
      <label for="username" class="input-group-addon">
        <div id="usernameResponse"></div>
      </label>
    </div>

  </div>
  <!-- /input: username -->

  <!-- input: email -->
  <div class="form-group">
    <div class="input-group">
      <label for="email" class="input-group-addon">
        <span class="glyphicon glyphicon-envelope"></span>
      </label>
      <input id="email" class="form-control input-lg" placeholder="<%= __("auth.register.form.email") %>" required="true" type="email" value="<%= (user.email||'') %>" name="email">
    </div>
  </div>
  <!-- /input: email -->

  <!-- input: password -->
  <div class="form-group">
    <div class="input-group">
      <label for="password" class="input-group-addon">
        <span class="glyphicon glyphicon-lock"> </span>
      </label>
      <input id="password" class="form-control input-lg" placeholder="<%= __("auth.register.form.password") %>" required="true" type="password" name="password">

      <!-- input: confirm-password -->
      <label for="confirm-password" class="sr-only input-group-btn">
      </label>
      <input id="confirm-password" class="form-control input-lg" placeholder="<%= __("auth.register.form.confirmPassword") %>" required="true" type="password" name="confirmPassword">
      <!-- /input: confirm-password -->
    </div>
  </div>
  <!-- /input: password -->

  <hr>
  <h4><%- __('auth.register.form.fields.optional.title') %></h4>
  <br>

  <!-- input: displayName -->
  <div class="form-group">
    <div class="input-group">
      <label for="displayName" class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </label>
      <input id="displayName" class="form-control input-lg" placeholder="<%= __("auth.register.form.displayName") %>" required="true" type="text"  value="<%= (user.displayName||'') %>" name="displayName">
    </div>
  </div>
  <!-- /input: displayName -->
  <!-- input: biography -->
  <div class="form-group">
    <label for="biography"><%- __("auth.register.form.biography.label") %>
    </label>
    <textarea id="biography" class="form-control input-lg" placeholder="<%= __("auth.register.form.biography.placeholder") %>" name="biography"><%= (user.biography||'') %></textarea>

  </div>
  <!-- /input: biography -->
  <hr>
  <!-- input: language -->
  <div class="form-group">
    <div class="input-group">
      <label for="language" class="input-group-addon">
        <span class="glyphicon glyphicon-globe"></span> <%- __("auth.register.form.language") %>
      </label>
      <select id="language" name="language" class="form-control input-md">
        <option value="pt-br">pt-br</option>
        <option value="en-us">en-us</option>
      </select>
    </div>
  </div>
  <!-- /input: language -->

  <%- include ../partials/sys-messages.ejs %>

  <hr>

  <div class="form-group">
    <div class="input-group">
      <button class="btn btn-lg btn-success submit" type="submit">
        <%= __("auth.register.form.submit") %>
        <span class="glyphicon glyphicon-chevron-right"> </span>
      </button>
    </div>
  </div>

  <div class="input-group">
    <div class="agree-terms">
      <%= __("auth.register.terms.message") %>
    </div>
  </div>

  <% if(req.accessToken){ %>
    <input type="hidden" name="access_token" value="<%= req.accessToken.token %>" />
  <% } %>
  <input type="hidden" name="service" value="<%= service %>" />
  <input type="hidden" name="consumerId" value="<%= consumerId %>" />
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>