<div class="content-block post">
<div class="post-teaser teaser panel panel-default">

  <div class="header panel-heading">
    <span class="creator">
      <a href="javascript:;">
        <div class="post-creator">
          <span class="creator-avatar avatar-small">{{user-avatar user=creator size="thumbnail"}}</span>
          <span class="creator-name">
            {{creator.displayName}}
          </span>
        </div>
      </a>
    </span>

    <div class="post-user-info">
      <span class="createdAt post-created-at">{{format-date createdAt}}</span>
      {{#if sharedIn}}
        <span>na comunidade
          <a href="javascript:;">
            {{sharedIn.name}}
          </a>
        </span>
      {{/if}}
    </div>
  </div>

  <div class="panel-body">
    <div class="content">
      <div class="post-text">{{html body}}</div>

      {{#if newWembed.url}}
        {{we-wembed url=newWembed.url imageIndex=newWembed.imageIndex }}
      {{/if}}

      <div class="images">
        <div class="row">
          {{#each imagesToSave}}
            <div class="col-xs-6 col-md-3">
              {{we-image-preview file=this}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="actions"></div>
    </div>
  </div>
</div>
</div>
