<div class="group-list-widget thumbnail">

  {{#link-to 'group' id}}
    {{#if logo}}
      <img class="group-list-img img-circle" {{bind-attr src="logo.urls.medium"}} />
    {{else}}
      <img class="group-list-img img-circle" src="/theme/assets/img/img-groups.jpg">
    {{/if}}
  {{/link-to}}

  <div class="caption">
    <h3 class="group-list-name">
      {{#link-to 'group' id}}
        {{substr name max=15}}
      {{/link-to}}
    </h3>
    <p class="group-list-desc">
      {{t 'Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva. Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.'}}
    </p>
    <nav class="group-list-nav pull-right">
      {{membersCount}}
{{!--
      {{we-follow classNames="btn btn-sm btn-success" model='group' modelId=id flagText="Seguir"}}

     {{we-group-join-button status=membership.status action="changeMembership" disabled=isCreator classNames="btn btn-success"}} --}}
    </nav>
  </div>
</div>
